/* (1) Font Faces */
@font-face {
    font-family: 'BikoBold';
    src: url('../fonts/biko_bold-webfont.woff2') format('woff2'),
         url('../fonts/biko_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MontExtraLight';
    src: url('../fonts/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../fonts/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MontHeavy';
    src: url('../fonts/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../fonts/mont-heavydemo-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

/* (2) Universal Styling */
h1, h2, h3, h4, h5, h6, .nav-item, .btn-custom {
  font-family: 'BikoBold';
  font-weight: 700;
}

p {
  font-family: 'MontExtraLight';
  font-weight: 300;
}

hr {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;

  transition: 500ms;
}

#sell-your-car {
  scroll-margin-top: 5em;
}

#reviews {
  scroll-margin-top: 3em;
}

#reasons, #how-it-works {
  scroll-margin-top: 1.5em;
}

/* (3) Navbar */
.navbar-blue {
  background-color: #2eb7ed;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  font-size: 14px;
}

.nav-link {
  color: #fff;
}

.navbar {
  border-top: 15px solid #025ACE;
}

.btn-custom-container {
  width: 150px;
  justify-content: flex-end;
}

.btn-custom {
  background-color: #025ACE;
  color: #fff;

  font-size: 12px;

  padding-top: 1px;
  padding-bottom: 1px;
}

 /* (4) Hero Section */
.jumbotron {
  margin-bottom: 0;
  background: linear-gradient(to right,
    rgba(46,183,237,0.5) 0%,
    rgba(46,183,237,0.5) 50%,
    #183558 50%,
    #183558 50%,
    #183558 100%);
}

.hero-background {
  padding-top: 50px;

  min-height: 450px;
  height: 70vh;
}

.hero-half {
  width: 50%;
}

.top-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-header {
  text-align: center;
  font-size: 50px !important;
  color: white !important;
}

.hero-image {
  width: 95%;
  bottom: 0;
}

/* (4.2) Form Section */
#msform {
    text-align: center;
    position: relative;

    width: 100%;
    height: 100%;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 70%;
    /* height: 75%; */
    margin: 0 auto;
    right: 0;
    left: 0;

    /*stacking fieldsets above each other*/
    position: absolute;
}


@media (min-width: 1440px) {
  #msform fieldset {
      margin-top: 2.5%;
  }
}
@media (min-width: 2560px) {
  #msform fieldset {
      margin-top: 10%;
  }
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

.question {
  font-family: "MontExtraLight";
  font-size: 13px;
  margin-bottom: 10px;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: "MontExtraLight";
    color: #2C3E50;
    font-size: 13px;
}

#msform select, #msform .btn-outline-custom {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: "MontExtraLight";
  color: #2C3E50;
  font-size: 13px;
}

 #msform .btn-outline-custom {
  width: 49%;
}

#msform .btn-outline-custom:hover, #msform .btn-outline-custom.active {
  background-color: #ee0979;
  color: #fff;
  font-weight: bold;
}

#msform .right-button {
  margin-left: 1%;
}

.inline-input {
  margin-left: 2.5%;
  width: 72.5% !important;
}

#msform input:focus, #msform textarea:focus, #msform select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px auto;

    font-family: "MontHeavy";
    letter-spacing: 1px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    padding-left: 0;
    /*CSS counters to number the steps*/
    counter-reset: step;
    height: 11%;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ee0979;
    color: white;
}


/* (5) Break Section */
.break-section {
  background-color: #2eb7ed;
  padding: 25px 0;
}

.break-text {
  text-align: center;
  color: white;
  margin: 0;
}

/* (6) Testimonials Section */
.testimonials-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonials-header {
  font-size: 45px !important;
  text-align: center;
  color: black;
}

.testimonials-text {
  text-align: center;
  width: 60ch;
}

#review-section-mobile {
  display: none;
}

#review-section-desktop {
  display: flex;
}

.review-container {
  width: 17.5%;
  position: relative;
}

/* .review-background {
  border-radius: 15px;
  background-color: #f9f9f9;
  height: 100%;
  width: 75%;
  right: 10%;
  z-index: -1;

  position: absolute;

} */

.review-content {
  padding-top: 15px;
}

.review-text {
  font-size: 14px;
  font-family: 'MontHeavy';
  font-weight: 700;
  text-transform: uppercase;
  width: 21ch;
}

.reviewer-name {
  font-size: 12px;
  font-family: 'MontHeavy';
  color: #ccc;
}

.review-rating {
  color: #2eb7ed;
}

/* (7) Second Break Section */
.second-break-section {
  width: 100%;
}

.second-break-section-image {
  width: 100%;
  font-family: 'BikoBold';
}

/* (8) Steps Section */
.steps-section-background {
  background-color: #183558;
  padding-top: 75px;
  padding-bottom: 75px;
}

.steps-title-section {
  text-align: center;
  color: #fff;

  margin-bottom: 50px;
}

.steps-section {
  color: #fff;
}

.steps-subtitle {
  width: 70%;
  letter-spacing: 2px;
  line-height: 1.4;
}

.step-container {
  width: 25%;
  background-color: transparent;
  border: none;
}

.card-img {
  width: 55%;
}

.card-text, .card-title {
  text-align: center;
}

/* (9) Video Section */
.video-section {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  max-height: 90%;
}

/* (10) Footer */
footer {
  background-color: #0F2D5B;
  color: white;
}

.footer-text {
  font-size: 12px;
}

.footer-links-list {
  list-style: none;
}

.footer-mini-text {
  font-size: 10px;
}

@media (max-width: 768px) {
  /* (11) Mobile Navbar */
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler .navbar-toggler {
    border-color: #fff;
  }

  .custom-toggler:focus {
    box-shadow: 0 0 0 0.1rem #fff !important;
  }

  .btn-custom-container {
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* (12) Mobile Hero Section */
  .jumbotron {
    background: linear-gradient(to bottom,
      rgba(46,183,237,0.5) 0%,
      rgba(46,183,237,0.5) 50%,
      #183558 50%,
      #183558 50%,
      #183558 100%);
  }

  .mobile-no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .hero-background {
    background-color: transparent;
    padding-top: 25px;
    padding-left: 0px;
    margin: auto;

    min-height: 650px;
    height: 122vh;
  }

  .hero-header {
    margin-top: auto;
    margin-bottom: auto;

    font-size: 45px !important;
  }

  .hero-half {
    width: 100%;
  }

  .top-half {
    height: 50%;
  }

  .bottom-half {
    height: 50%;
  }

  /* (12.2) Mobile Form Section */
  #progressbar {
    height: 13%;
  }

  #msform fieldset {
    width: 100%;
  }

  #msform .btn-outline-custom {
   width: 48%;
  }

  .question {
    font-size: 12px;
  }

  /* (13) Mobile Video Section */
  .video-section {
    height: 250px;
  }

  /* (14) Mobile Testimonials Section */
  .testimonials-section {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  #review-section-mobile {
    display: block;
  }
  #review-section-desktop {
    display: none;
  }

  .review-container {
    width: 100%;
  }

  .review-content {
    text-align: center;
  }

  /* (15) Mobile Steps Section */
  .steps-section-background {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .steps-title-section {
    margin-bottom: 25px;
  }

  .steps-title {
    font-size: 28px;
  }

  .steps-subtitle {
    width: 100%;
    letter-spacing: 0;
    line-height: 1.5;
  }

  .step-container {
    width: 100%;
  }

  /* (16) Footer Mobile */
  .footer-company-info {
    text-align: center;
  }

  .footer-links-list {
    text-align: center;
    padding-left: 0;
  }
}
