/* (1) Font Faces */
@font-face {
    font-family: 'BikoBold';
    src: url('../fonts/biko_bold-webfont.woff2') format('woff2'),
         url('../fonts/biko_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MontExtraLight';
    src: url('../fonts/mont-extralightdemo-webfont.woff2') format('woff2'),
         url('../fonts/mont-extralightdemo-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MontHeavy';
    src: url('../fonts/mont-heavydemo-webfont.woff2') format('woff2'),
         url('../fonts/mont-heavydemo-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

/* (2) Universal Styling */
h1, h2, h3, h4, h5, h6, .nav-item, .btn-custom {
  font-family: 'BikoBold';
  font-weight: 700;
}

p {
  font-family: 'MontExtraLight';
  font-weight: 300;
}

/* (3) Navbar */
.navbar-blue {
  background-color: #2eb7ed;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  font-size: 14px;
}

.nav-link {
  color: #fff;
}

.navbar {
  border-top: 15px solid #025ACE;
}

.btn-custom-container {
  width: 150px;
  justify-content: flex-end;
}

.btn-custom {
  background-color: #025ACE;
  color: #fff;

  font-size: 12px;

  padding-top: 1px;
  padding-bottom: 1px;
}

 /* (4) Hero Section */
.jumbotron {
  margin-bottom: 0;
  /* background-color: #fff; */
  /* background-color: rgba(46,183,237,0.5); */
  background: linear-gradient(to right,
    rgba(46,183,237,0.5) 0%,
    rgba(46,183,237,0.5) 50%,
    #183558 50%,
    #183558 50%,
    #183558 100%);
}

.hero-background {
  padding-top: 50px;
  padding-left: 20px;

  min-height: 450px;
  max-height: 525px;
}

.hero-half {
  width: 50%;
}

.hero-header {
  text-align: center;
  font-size: 30px !important;
  color: white !important;
}

.hero-header:first-of-type {
  margin-bottom: 0;
}

.hero-image {
  width: 95%;
  bottom: 0;
}

/* (5) Break Section */
.break-section {
  background-color: #2eb7ed;
  padding: 25px 0;
}

.break-text {
  text-align: center;
  color: white;
  margin: 0;
}

/* (6) Testimonials Section */
.testimonials-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonials-header {
  font-size: 45px !important;
  text-align: center;
  color: black;
}

.testimonials-text {
  text-align: center;
  width: 60ch;
}

.review-container {
  width: 17.5%;
  position: relative;
}

/* .review-background {
  border-radius: 15px;
  background-color: #f9f9f9;
  height: 100%;
  width: 75%;
  right: 10%;
  z-index: -1;

  position: absolute;

} */

.review-content {
  height: 150px;
  padding-top: 15px;
}

.review-text {
  font-size: 14px;
  font-family: 'MontHeavy';
  font-weight: 700;
  text-transform: uppercase;
  width: 21ch;
}

.reviewer-name {
  font-size: 12px;
  font-family: 'MontHeavy';
  color: #ccc;
}

.review-rating {
  color: #2eb7ed;
}

/* (7) Second Break Section */
.second-break-section {
  width: 100%;
}

.second-break-section-image {
  width: 100%;
}

/* (8) Steps Section */
.steps-section-background {
  background-color: #183558;
  padding-top: 75px;
  padding-bottom: 75px;
}

.steps-title-section {
  text-align: center;
  color: #fff;

  margin-bottom: 50px;
}

.steps-section {
  color: #fff;
}

.steps-subtitle {
  width: 70%;
  letter-spacing: 2px;
  line-height: 1.4;
}

.step-container {
  width: 25%;
  background-color: transparent;
  border: none;
}

.card-img {
  width: 55%;
}

.card-text, .card-title {
  text-align: center;
}

/* (9) Video Section */
.video-section {
  height: 650px;
}

/* (10) Footer */
footer {
  background-color: #0F2D5B;
  color: white;
  height: 100px;
}

@media (max-width: 768px) {
  /* (11) Mobile Navbar */
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler .navbar-toggler {
    border-color: #fff;
  }

  .custom-toggler:focus {
    box-shadow: 0 0 0 0.1rem #fff !important;
  }

  /* (12) Mobile Hero Section */
  .jumbotron {
    background-color: rgba(46,183,237,0.5);
  }

  .mobile-no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .hero-background {
    background-color: transparent;
    padding-top: 25px;
    padding-left: 0px;

    min-height: 650px;
    max-height: 175vh;

    flex-direction: column;
  }

  .hero-header {
    font-size: 24px !important;
  }

  .hero-half {
    width: 100%;
  }
}
